<div id="audioplayer">
	<div class="nowplaying">
		<div class="metadata" *ngIf="soundObject">
			<div class="image" [ngStyle]="{'background-image': 'url(' + soundObject.image + ')'}"></div>
			<div class="info">
				<div class="subtitle">{{soundObject.podcast}}</div>
				<div class="title">{{soundObject.name}}</div>
			</div>
		</div>
		<button class="btn btn-play" (click)="toggleState()">
			<i *ngIf="isPlaying" class="fa fa-2x fa-pause-circle"></i>
			<i *ngIf="!isPlaying" class="fa fa-2x fa-play-circle"></i>
		</button>
	</div>
	<timeline></timeline>
</div>