.podcast-logo
    background $grey-2
    width 30vw
    height 40vh
    border-bottom 10px solid $brand-1

    img
        max-width 80%
        max-height 80%
        margin 0 auto
        display block