.icon
    background-position center center
    background-repeat no-repeat
    background-size contain
    display inline-block

    &.large
        height 64px
        width 64px

    &.logo
        background-image url(/images/icons/logo.png)