h1
    font-size $font-size-6
    font-weight $font-weight-3

h2
    font-size $font-size-4
    font-weight $font-weight-2

h3
    font-size $font-size-3
    font-weight $font-weight-2

p
    color $grey-3
    font-size $font-size-2
    font-weight $font-weight-2
    line-height 1.2
    margin 1em 0