<div class="account" layout="row" layout-fill>
  <div>
    <div layout="column" class="bio">
      <div class="avatar">
        <img src="assets/img/avatar.png" />
      </div>
      <span class="section">
        Username
      </span>
    </div>
  </div>
  <span class="spacer"></span>
  <div flex>
    <div layout="column" class="details tabs">
      <md-tab-group>
        <md-tab label="Overview">
          <div layout="column">
            <span class="section">
              Recently Listened
            </span>
            <div class="row">
              <div class="detail-container" layout="row" layout-align="start center">
                <div layout="column">
                  <div class="title">
                    Grammar Girl
                  </div>
                  <div class="subtitle">
                    561 GG $10 Million Comma. Ambiguous Sentences. Tribute to Bill Walsh
                  </div>
                </div>
                <span flex></span>
                <button md-icon-button>
                  <md-icon>
                    replay
                  </md-icon>
                </button>
              </div>
            </div>
          </div>
        </md-tab>
        <md-tab label="Friends">
        </md-tab>
        <md-tab label="Subscriptions">
        </md-tab>
      </md-tab-group>
    </div>
  </div>
</div>