<loading-indicator></loading-indicator>
<td-layout title="Your Playlist">
  <menu-items>
    <a md-list-item *ngFor="let sound of playlist" (click)="setCurrentSound(sound)">
      <img md-list-avatar src="{{sound.image}}" alt="{{sound.podcast}}">
      <h3 md-line>{{sound.name}}</h3>
      <p md-line>
        {{sound.duration}}
        <span class="playlistActions">
          <md-icon (click)="removeSound($event, sound)">delete</md-icon>
        </span>     
      </p>
    </a>
    <a md-list-item *ngIf="playlist.length == 0">
      <md-icon md-list-avatar>delete_sweep</md-icon>
      <h3 md-line>Your Playlist Is Empty!</h3>
    </a>
  </menu-items>
  <td-layout-nav logo="" title="Porios">
  <td-layout-manage-list #list>
    <list-items>
      <md-list-item *ngIf="podcasts.length > 0">
        <td-autocomplete itemText="display"
          placeholder = "Search..."
          [items]="podcasts"
          [(selectedItem)]="selectedItem"
          [(searchText)]="searchText">
        </td-autocomplete>
      </md-list-item>
      <a md-list-item [routerLink]="['Explore']">
        <md-icon>folder</md-icon>
        Explore
      </a>
      <a md-list-item [routerLink]="['Favorites']">
        <md-icon>people</md-icon>
        Favorites
      </a>
      <a md-list-item [routerLink]="['Feed']">
        <md-icon>star</md-icon>
        Feed
      </a>
      <a md-list-item [routerLink]="['Account/Dashboard']">
        <md-icon>account_circle</md-icon>
        Account
      </a>
    </list-items>
    <toolbar-buttons layout="row" layout-align="start center" flex>
      <span flex></span>
      <button md-button class="md-icon-button" [routerLink]="['Explore']"><md-icon class="md-24">folder</md-icon></button>
      <span flex></span>
      <button md-button class="md-icon-button" [routerLink]="['Favorites']"><md-icon class="md-24">people</md-icon></button>
      <span flex></span>
      <button md-button class="md-icon-button" [routerLink]="['Feed']"><md-icon class="md-24">star</md-icon></button>
      <span flex></span>
      <button md-button class="md-icon-button" [routerLink]="['Account/Dashboard']"><md-icon class="md-24">account_circle</md-icon></button>
      <span flex></span>
    </toolbar-buttons>
    <router-outlet></router-outlet>
  </td-layout-manage-list>
  </td-layout-nav>
</td-layout>
<!--<playlist></playlist>-->