input {
    width: 100%;
    border: none;
    padding: .2em .6em;
    border-radius: 0.1rem;
    border: 1px solid #dadada;
    font-size: 14px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-weight: 500;
    color: currentColor;
    line-height: 24px;
}