<div class="page-content" layout-fill>
  <div class="podcast-detail">
    <div layout="row">
      <div class="logo-container">
        <img src="http://www.qdnow.com/sites/default/files/avataritunes/5/Grammar_pod2.jpg" />
      </div>
      <div class="detail-container" layout="column" flex>
        <div class="title">
          Grammar Girl
        </div>
        <div class="description">
          Grammar Girl provides short, friendly tips to improve your writing.
          Whether English is your first language or your second language, these grammar, punctuation, style, and business tips will make you a better and more successful writer.
          Grammar Girl is a Quick and Dirty Tips podcast.
          To download podcast episodes not shown here, visit QuickandDirtyTips.com
        </div>
      </div>
      <div class="action-container" layout="column">
        <button md-icon-button mdTooltip="Subscribe">
          <md-icon>
            favorite_border
          </md-icon>
        </button>
        <span flex></span>
        <div class="date" layout="column" layout-align="center center">
          <div class="month">
            Mar
          </div>
          <div class="day">
            23
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="tabs">
    <md-tab-group>
      <md-tab label="Episodes">
        <md-list>
          <template ngFor let-episode [ngForOf]="dummyEpisodes">
            <md-list-item layout="row" layout-align="start center" (click)="onClick(episode)">
              <div class="pointer"></div>
              <div class="date" layout="column" layout-align="start center">
                <div class="month">
                  Mar
                </div>
                <div class="day">
                  23
                </div>
              </div>
              <span class="spacer"></span>
              <h4>{{episode.title}}</h4>
              <span flex></span>
              <h5>57 Minutes</h5>
              <span class="spacer"></span>
              <button md-icon-button [ngSwitch]="episode.playing">
                      <md-icon *ngSwitchCase="false">play_arrow</md-icon>
                      <md-icon *ngSwitchCase="true">pause</md-icon>
                  </button>
            </md-list-item>
            <md-divider></md-divider>
          </template>
        </md-list>
      </md-tab>
      <md-tab label="Comments">
      </md-tab>
    </md-tab-group>
  </div>
</div>