<div class="page-content" layout-fill>
  <div class="podcast-detail">
    <div layout="row">
      <div class="logo-container">
        <img src="http://www.qdnow.com/sites/default/files/avataritunes/5/Grammar_pod2.jpg" />
      </div>
      <div class="detail-container" layout="column" flex>
        <span flex></span>
        <div class="title">
          {{ podcast.name }}
        </div>
        <div class="description">
          {{ podcast.feed.description }}
        </div>
        <div class="copyright">
          {{ podcast.feed.copyright }}
        </div>
      </div>
      <div class="action-container" layout="column">
        <button md-icon-button mdTooltip="Subscribe" (click)="subscribe(podcast)">
          <md-icon>
            favorite_border
          </md-icon>
        </button>
        <span flex></span>
        <div class="date" layout="column" layout-align="center center">
          <div class="month">
            Mar
          </div>
          <div class="day">
            23
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="tabs" #tabContainer>
    <md-tab-group (selectChange)="onSelectChange($event)">
      <md-tab label="Episodes">
        <md-list>
          <template ngFor let-episode [ngForOf]="podcast.feed.items | myDetailView:displayCount">
            <md-list-item layout="row" layout-align="start center" (click)="listen(podcast, episode)">
              <div class="pointer"></div>
              <div class="date" layout="column" layout-align="start center">
                <div class="month">
                  Mar
                </div>
                <div class="day">
                  23
                </div>
              </div>
              <span class="spacer"></span>
              <h4 class="title">{{episode.title}}</h4>
              <span flex></span>
              <h5>57 Minutes</h5>
              <span class="spacer"></span>
              <button md-icon-button [ngSwitch]="episode.playing">
                <md-icon *ngSwitchCase="false">play_arrow</md-icon>
                <md-icon *ngSwitchCase="true">pause</md-icon>
              </button>
            </md-list-item>
            <md-divider></md-divider>
          </template>
        </md-list>
      </md-tab>
      <md-tab label="Comments">
      </md-tab>
    </md-tab-group>
  </div>
</div>