<div layout="row" layout-fill>
    <div class="loginField" flex>
        <div class="content" flex [ngSwitch]="curAction">
            <div *ngSwitchCase="'login'">
                <h1>Login to Porios.</h1>
                <br>
                <p>
                    Porios is an application designed to connect you with your favorite podcasts.
                </p>
                <br>
                <br>
                <form #loginForm="ngForm" class="form" layout="row">
                    <md-input placeholder="Email" name="email" ngModel required></md-input>
                    <span flex></span>
                    <md-input placeholder="Password" name="password" type="password" ngModel required></md-input>
                </form>
                <div class="formActions" layout="row">
                    <span flex></span>
                    <button md-button (click)="curAction = 'register'">Don't have an account?</button>
                    <span class="spacer"></span>
                    <button [disabled]="loginForm.invalid" md-raised-button color="primary" (click)="onLogin(loginForm)">Sign In</button>
                </div>
            </div>
            <div *ngSwitchCase="'register'">
                <h1>Register an Account.</h1>
                <br>
                <p>
                    Porios is an application designed to connect you with your favorite podcasts.
                </p>
                <br>
                <br>
                <form #loginForm="ngForm" class="form" layout="column">
                    <div layout="row">
                        <md-input placeholder="First Name" name="first_name" ngModel required></md-input>
                        <span flex></span>
                        <md-input placeholder="Last Name" name="last_name" ngModel required></md-input>
                    </div>
                    <div layout="row">
                        <md-input placeholder="Email" name="email" ngModel required></md-input>
                        <span flex></span>
                        <md-input placeholder="Password" name="password" type="password" ngModel required></md-input>
                    </div>
                </form>
                <div class="formActions" layout="row">
                    <span flex></span>
                    <button md-button (click)="curAction = 'login'">Already have an account?</button>
                    <span class="spacer"></span>
                    <button [disabled]="loginForm.invalid" md-raised-button color="primary" (click)="onRegister(loginForm)">Sign In</button>
                </div>
            </div>
        </div>
    </div>
    <div class="loginJumbo active" flex>
        <input type="checkbox" id="logo" />
        <label for="logo">
            <div class="logo">
            </div>
            <div class="pulsers">
                <div class="pulser" [style.background-color]="pulsar"></div>
                <div class="pulser" [style.background-color]="pulsar"></div>
                <div class="pulser" [style.background-color]="pulsar"></div>
                <div class="pulser" [style.background-color]="pulsar"></div>
                <div class="pulser" [style.background-color]="pulsar"></div>
            </div>
        </label>
    </div>
</div>