@import 'reset.scss';

@import 'colors.scss';
@import 'fonts.scss';

// Import all atomic structures
@import 'atoms/helpers.scss';
@import 'atoms/buttons.scss';

// `/podcast` styles
@import 'podcasts/index.scss';

//Need to break everything below into a separate file and use this file for master stylesheet.
html, body, body > .ember-view {
	height: 100%;
	margin: 0;
}

nav {
	background-color: $brand-blue;
	display: inline-block;
	height: 100%;
	padding: 30px 5px;
	width: 7%;
	
	ul {
		list-style-type: none;
		
		li:first-of-type {
			margin-bottom: 125px;
			margin-top: 50px;
		}

		li {
			margin-bottom: 75px;
		}
	}

}

main {
	display: inline-block;
	width: 90%;
	height: 100%;
	float: right;
}


.hidden {
	display: none;
}
