@import 'reset.scss';

@import 'colors.scss';
@import 'fonts.scss';

// Import all atomic structures
@import 'atoms/helpers.scss';
@import 'atoms/buttons.scss';

// NAMESPACED components
@import 'components/index.scss';

// `/podcast` styles
@import 'podcasts/index.scss';

//Need to break everything below into a separate file and use this file for master stylesheet.
html, body, body > .ember-view {
	height: 100%;
	margin: 0;
}

//Reset UL's because they suck.
ul {
  display: block;
  list-style-type: none;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
	margin: 0 auto;
}
nav {
	background-color: $brand-blue;
	box-sizing: border-box;
	display: inline-block;
	height: 100%;
	padding: 30px 5px;
	text-align: center;
	width: 7%;
	
	ul {
		list-style-type: none;
		
		li:first-of-type {
			margin-bottom: 75px;
		}

		li {
			font-size: 3.4em;
			margin-bottom: 50px;
		}

		.the-p {
			font-size: 1.4em;
			font-family: 'Bitter', Helvetica;
		}
	}

}

main {
	display: inline-block;
	width: 93%;
	height: 100%;
	float: right;
}


.hidden {
	display: none;
}
