<md-card>
    <md-card-content>
        <md-list>
            <form #userForm="ngForm">
                <input type="text" hidden disabled name="id" [ngModel]="user.id">
                <md-list-item>
                    <md-input dividerColor="warn" placeholder="First Name" name="first_name" [ngModel]="user.first_name"></md-input>
                </md-list-item>
                <md-list-item>
                    <md-input dividerColor="warn" placeholder="Last Name" name="last_name" [ngModel]="user.last_name"></md-input>
                </md-list-item>
            </form>
        </md-list>
    </md-card-content>
    <md-card-actions>
        <button md-raised-button color="warn" (click)="update(userForm.value)">Update</button>
        <button md-raised-button color="warn" (click)="logout()">Logout</button>
    </md-card-actions>
</md-card>