<div id="loginForm">
    <form (ngSubmit)="login()" name="loginForm">
        <div class="form-group">
            <input ngControl="username" #username="ngForm" id="username" placeholder="Username" type="text" class="form-control" [(ngModel)]="user.username" required />
        </div>
        <div class="form-group">
            <input ngControl="password" #password="ngForm" id="password" placeholder="Password" type="text" class="form-control" [(ngModel)]="user.password" required />
        </div>
        <div class="form-group submitArea">
            <button class="btn btn-primary" type="submit">Login</button>
        </div>
    </form>
</div>