<md-card>
    <md-card-header class="md-primary">
        <md-card-title>
            <h2>WELCOME BACK</h2>
        </md-card-title>
    </md-card-header>
    <md-divider></md-divider>
    <md-card-content>
        <form #loginForm="ngForm" class="loginForm">
            <md-list>
                <md-list-item>
                    <md-icon class="user-icon">account_circle</md-icon>
                </md-list-item>
                <md-list-item>
                    <md-input dividerColor="warn" 
                        placeholder="Username" 
                        color="warn" 
                        name="username" 
                        ngModel 
                        required>
                    </md-input>
                </md-list-item>
                <md-list-item>
                    <md-input dividerColor="warn" 
                        type="password" 
                        placeholder="Password" 
                        color="warn" 
                        name="password" 
                        ngModel 
                        required>
                    </md-input>
                </md-list-item>
                <md-list-item>
                    <button md-raised-button color="warn" (click)="login(loginForm)" [attr.disabled]="!loginForm.valid ? 'disabled' : null">Login</button>
                </md-list-item>
                <md-list-item>
                    Don't have an account yet?&nbsp;<a [routerLink]="['/Account/Register']">Sign Up</a>
                </md-list-item>
            </md-list>
        </form>
    </md-card-content>
</md-card>