/* Home Component */

.home {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #ecf0f1;
  height: 100%;
}

.home input {
  display: none;
}

.home label {
  position: relative;
  width: 25%;
  background-color: #2980b9;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  z-index: 2;
  transform: translate3d(0, 0, 0);
  animation: jumpIn .4s ease-out;
  transition: transform 0.8s ease-out;
}

.home label:after {
  content: '';
  display: block;
  padding-bottom: 100%;
}

.home label:active {
  transform: scale(0.9);
}

.home .logo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 50%;
  height: 55%;
  overflow: hidden;
  opacity: 0;
  transform: translateZ(0);
  animation: fadeIn 0s .21s forwards;
  transition: transform 0.2s ease-out;
  z-index: 3;
  background: url('/src/assets/img/logo-large.svg');
  background-size: 100% 100%;
}

.home .pulser {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  box-shadow: rgba(255, 238, 239, 0.4) 0 0 0 1px;
  z-index: 1;
  transform: scale(0) translateZ(0);
}

.home .pulser:nth-child(1) {
  top: -100%;
  right: -100%;
  bottom: -100%;
  left: -100%;
  width: 190%;
  height: 190%;
  animation: rings 0.4s 0.1s ease-out forwards;
  opacity: 0.75;
}

.home .pulser:nth-child(2) {
  top: -200%;
  right: -200%;
  bottom: -200%;
  left: -200%;
  width: 260%;
  height: 260%;
  animation: rings 0.4s 0.2s ease-out forwards;
  opacity: 0.5;
}

.home .pulser:nth-child(3) {
  top: -300%;
  right: -300%;
  bottom: -300%;
  left: -300%;
  width: 330%;
  height: 330%;
  animation: rings 0.4s 0.3s ease-out forwards;
  opacity: 0.25;
}

.home .pulser:nth-child(4) {
  top: -400%;
  right: -400%;
  bottom: -400%;
  left: -400%;
  width: 400%;
  height: 400%;
  animation: rings 0.4s 0.4s ease-out forwards;
  opacity: 0;
}

.home .pulser:nth-child(5) {
  top: -500%;
  right: -500%;
  bottom: -500%;
  left: -500%;
  width: 470%;
  height: 470%;
  animation: rings 0.4s 0.5s ease-out forwards;
  opacity: -0.25;
}

.home.active input + label {
  animation: none;
  transform: scale(1.05) translate3d(0, 0, 0);
}

.home.active input + label .logo {
  opacity: 1;
  animation: none;
  transform: scale(0.8) translate3d(0, 0, 0);
}

.home.active input + label .pulser {
  background-color: #2980b9;
  box-shadow: none;
  opacity: 0;
}

.home.active input + label .pulser:nth-child(1) {
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0s;
  animation: pulse 1.2s 0.3s ease-in-out infinite;
}

.home.active input + label .pulser:nth-child(2) {
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0s;
  animation: pulse 1.2s 0.6s ease-in-out infinite;
}

.home.active input + label .pulser:nth-child(3) {
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0s;
  animation: pulse 1.2s 0.9s ease-in-out infinite;
}

.home.active input + label .pulser:nth-child(4) {
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0s;
  animation: pulse 1.2s 1.2s ease-in-out infinite;
}

.home.active input + label .pulser:nth-child(5) {
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0s;
  animation: pulse 1.2s 1.5s ease-in-out infinite;
}

@-webkit-keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@-webkit-keyframes jumpIn {
  0% {
    transform: scale(2) translate3d(0, 0, 0);
  }
  40%, 50% {
    transform: scale(0.2) translate3d(0, 0, 0);
  }
  100% {
    transform: scale(1) translate3d(0, 0, 0);
  }
}

@keyframes jumpIn {
  0% {
    transform: scale(2) translate3d(0, 0, 0);
  }
  40%, 50% {
    transform: scale(0.2) translate3d(0, 0, 0);
  }
  100% {
    transform: scale(1) translate3d(0, 0, 0);
  }
}

@-webkit-keyframes rings {
  0% {
    transform: scale(0) translate3d(0, 0, 0);
  }
  100% {
    transform: scale(1) translate3d(0, 0, 0);
  }
}

@keyframes rings {
  0% {
    transform: scale(0) translate3d(0, 0, 0);
  }
  100% {
    transform: scale(1) translate3d(0, 0, 0);
  }
}

@-webkit-keyframes pulse {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(4);
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(4);
  }
}
/* End Home Component */