<div class="home">
    <input type="checkbox" id="logo" />
    <label for="logo" (click)="toggleSound()">
        <div class="logo">
        </div>
        <div class="pulsers">
            <div class="pulser" [style.background-color]="getColor()"></div>
            <div class="pulser" [style.background-color]="getColor()"></div>
            <div class="pulser" [style.background-color]="getColor()"></div>
            <div class="pulser" [style.background-color]="getColor()"></div>
            <div class="pulser" [style.background-color]="getColor()"></div>
        </div>
    </label>
</div>