<div class="messages">
    <section class="message-list">
        <ul></ul>
    </section>
    <main class="message">
        <header>
            <h2>Mark Hamill</h2>
        </header>
        <section>
            <div class="message-container">
                <p class="received bubble">Hey Brad! Check out Developer Tea sometime! I think you'll like it!</p>
            </div>
            <div class="message-container">
                <p class="sent bubble">Thanks Mark! I'll definitely check it out soon!</p>
            </div>
            <div class="message-container">
                <p class="received bubble">You better!</p>
            </div>
        </section>
        <section>
            <form>
                <div class="DraftEditor-root">
                    <div class="DraftEditor-editorContainer">
                        <div class="public-DraftEditor-content" contenteditable="true" role="textbox" spellcheck="false" style="outline:none;white-space:pre-wrap;word-wrap:break-word;">
                            <div data-contents="true">
                                <div class="">
                                    <div><span><br data-text="true"></span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </section>
    </main>
</div>