account,
account-edit {
  .account,
  .account-edit {
    padding: 8px;
    .bio {
      color: white;
      .avatar {
        width: 200px;
        height: 230px;
        background: #343D46;
        border-radius: 6px;  
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          height: 80%;
        }
      }
      h3 {
        font-weight: 100;
      }
    }
  }
  .section {
    font-weight: 100;
    font-size: 16px;
    margin-top: .75rem;
    margin-bottom: .5rem;
  }
  .edit-form {
    color: white;
    background: #343D46;
  }
}
