@import 'theme';

.clickable {
    cursor: pointer;
}

span.spacer {
    width: 8px;
}

.main-content,
.main-content md-sidenav-container {
    height: 100%;
    max-height: 100%;
    overflow-y: auto;
    background: transparent;
    md-sidenav {
        width: 240px;
    }
}

.page-content {
    padding: 8px;
    box-sizing: border-box;
}

.date {
    font-size: 10px;
    line-height: 1.4;
    .month {
        color: mat-color($accent);
    }
    .day {
        color: white;
    }
}

.route-animation {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

button[md-icon-button].large {
    height: 48px;
    width: 48px;
    line-height: 48px;
    .mat-button-wrapper {
        line-height: 46px;
        md-icon {
            height: 48px;
            width: 48px;
            line-height: 48px;
            font-size: 48px;
        }
    }
}
.tabs {
  color: white;
  > md-tab-group {
    > .mat-tab-header {
      background: #343D46;
      border: none;
      .mat-tab-label {
        opacity: 1;
      }
    }
    > .mat-tab-body-wrapper {
      padding: 8px 0;
      h4 {
        font-weight: 100;
      }
      .detail-container {
        background: #343D46;
        padding: 8px;
        .subtitle {
          font-size: 12px;
          font-weight: 300;
        }
      }
    }
  }
}
