@import 'theme';

.clickable {
    cursor: pointer;
}

span.spacer {
    width: 8px;
}

.main-content {
    height: calc(100% - 64px);
    max-height: calc(100% - 64px);
    overflow-y: auto;
}

.date {
    font-size: 10px;
    line-height: 1.4;
    .month {
        color: mat-color($accent);
    }
}