@import 'theme';

seeker {
    position: relative;
    height: 69px;
    background-color: #343D46;
    .controls {
        height: 64px;
        .seeker-container {
            padding: 0 16px;
        }
        .seeker-button {
            color: white;
            margin: 0 8px;
            &:first-of-type {
                margin-left: 0;
            }
            &:last-of-type {
                margin-right: 0;
            }
        }
        .metadata {
            color: white;
        }
        .time-stamp {
            color: white;
            font-weight: 300;
            font-size: 14px;
        }
    }
}

volume {
    .volume-container {
        display: block;
        position: relative;
        .slider-container {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 100%;
            background: #343D46;
            border-radius: 3px;
            width: 48px;
            height: 136px;
            padding: 8px 0;
        }
        button[md-icon-button] {
            .mat-button-wrapper {
                md-icon.mat-icon {
                    font-size: 24px;
                }
            }
        }
    }
}