@import url(https://fonts.googleapis.com/css?family=Inconsolata);
@import url(https://fonts.googleapis.com/css?family=Bitter:700,400);
input,
label,
select,
button,
textarea {
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1;
  /* Browsers have different default form fonts */
  font-size: 13px;
  font-family: Arial; }

/* Remove the stupid outer glow in Webkit */
input:focus {
  outline: 0; }

/* Box Sizing Reset
 * -----------------------------------------------*/
/* All of our custom controls should be what we expect them to be */
input,
textarea {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

/* These elements are usually rendered a certain way by the browser */
button,
input[type=reset],
input[type=button],
input[type=submit],
input[type=checkbox],
input[type=radio],
select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Text Inputs
 * -----------------------------------------------*/
/* Button Controls
 * -----------------------------------------------*/
input[type=checkbox],
input[type=radio] {
  width: 13px;
  height: 13px; }

/* File Uploads
 * -----------------------------------------------*/
/* Search Input
 * -----------------------------------------------*/
/* Make webkit render the search input like a normal text field */
input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box; }

/* Turn off the recent search for webkit. It adds about 15px padding on the left */
::-webkit-search-decoration {
  display: none; }

/* Buttons
 * -----------------------------------------------*/
button,
input[type="reset"],
input[type="button"],
input[type="submit"] {
  /* Fix IE7 display bug */
  overflow: visible;
  width: auto; }

/* IE8 and FF freak out if this rule is within another selector */
::-webkit-file-upload-button {
  padding: 0;
  border: 0;
  background: none; }

/* Textarea
 * -----------------------------------------------*/
textarea {
  /* Move the label to the top */
  vertical-align: top;
  /* Turn off scroll bars in IE unless needed */
  overflow: auto; }

/* Selects
 * -----------------------------------------------*/
select[multiple] {
  /* Move the label to the top */
  vertical-align: top; }

h1, h2, .hero, .h1, .h2 {
  font-family: 'Bitter', Helvetica; }

body, p, h3, h4, h5, h5 {
  font-family: 'Inconsolata', Helvetica; }

.pad {
  padding: 10px; }
  .pad-vert {
    padding-top: 10px;
    padding-bottom: 10px; }
  .pad-horiz {
    padding-left: 10px;
    padding-right: 10px; }

.margin {
  margin: 10px; }
  .margin-vert {
    margin-top: 10px;
    margin-bottom: 10px; }
  .margin-horiz {
    margin-left: 10px;
    margin-right: 10px; }

.button {
  align: center;
  background-color: #474747;
  color: white;
  cursor: pointer;
  font-size: 1.1em;
  min-width: 175px;
  padding: 15px 20px;
  text-transform: uppercase; }
  .button.brand {
    background-color: #00B9FD;
    color: #474747; }

.button-holder {
  padding: 0 35px; }
  .button-holder .button {
    float: right; }
  .button-holder .button:first-of-type {
    float: left; }
  .button-holder:after {
    clear: both;
    content: '';
    display: table; }

.subscriber-list.subscriber-img {
  height: 50px;
  width: 50px; }

.subscriber-list.more-box {
  background-color: #999;
  height: 50px;
  width: 50px; }

.picture-frame {
  background-color: #474747;
  border-bottom: 10px solid #00B9FD;
  padding: 0 25px 50px; }
  .picture-frame img {
    display: block;
    height: 300px;
    margin: 0 auto;
    width: 300px; }

.left-rail {
  box-sizing: border-box;
  float: left;
  width: 30%; }

.right-rail {
  box-sizing: border-box;
  float: left;
  width: 70%;
  padding: 25px 35px; }

dt {
  color: #999;
  float: left;
  width: 20%; }

html, body, body > .ember-view {
  height: 100%;
  margin: 0; }

nav {
  background-color: #00B9FD;
  box-sizing: border-box;
  display: inline-block;
  height: 100%;
  padding: 30px 5px;
  width: 7%; }
  nav ul {
    list-style-type: none; }
    nav ul li:first-of-type {
      margin-bottom: 125px;
      margin-top: 50px; }
    nav ul li {
      margin-bottom: 75px; }

main {
  display: inline-block;
  width: 93%;
  height: 100%;
  float: right; }

.hidden {
  display: none; }

/*# sourceMappingURL=frontend.css.map */