<section class="left-rail">
	<div class="picture-frame">
		<img src="https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=&url=https%3A%2F%2Fpbs.twimg.com%2Fprofile_images%2F557744034462965760%2Fu-dbRwJT.jpeg&psig=AFQjCNG9-Gci89SvQYe75jsRkPUdVolT2w&ust=1447290264051043"/>
	</div>
	<div class="button-holder">
		<button>Subscribe</button>
		<button>Latest Episode</button>
	</div>

	<section>
		<h3>Similar</h3>
	</section>
</section>

<section class="right-rail">
	<h1>Developer Tea</h1>
	<p class="soft-text">
		Developer Tea is a podcast for web and software developers hosted by a developer that you can listen to in 10 minutes or less. The show will cover a wide variety of topics related to the career of being a developer.
	</p>
	<dl class="podcast-stats">
		<dt>Episodes</dt>
		<dd>44</dd>
		<dt>Subscribers</dt>
		<dd>984</dd>
		<dt>Genre</dt>
		<dd>Engineering, Tech</dd>
		<dt>Release Date</dt>
		<dd>11.07.2015</dd>
	</dl>
	{{!-- friends who listen to X podcast component --}}

	{{!-- episode list component --}}

	{{!-- comments for X podcast component --}}
</section>
