<div *ngIf="podcast">
    <div class="pageheader">
        <div class="pageicon"><span [ngStyle]="{'background-image': 'url(' + photo + ')'}"></span></div>
        <div class="pagetitle">
            <h1>{{podcast.name}}</h1>
            <h5>{{podcast.description}}</h5>
        </div>
    </div>
    <div class="maincontent">
        <div class="episodes" *ngIf="feed">
            <h5 class="subtitle">
                Episodes
            </h5>
            <ul class="episodes">
                <li *ngFor="let episode of feed.entries">
                    {{episode.title}}
                </li>
            </ul>
        </div>
    </div>
</div>