<div class="podcast-list">
    <div *ngFor="let genre of genres" class="podcast-category">
        <ul>
            <li [class]="'genre ' + genre">
                <div class="genre-icon">
                </div>
                <h2>{{genre}}</h2>
            </li>
            <li *ngFor="let podcast of podcasts[genre]">
                <a (click)="exploreDetail(podcast)">
                    <div class="podcast-updates">
                        1
                    </div>
                    <div class="podcast-background" style="background-image:url(/src/assets/img/placeholders/dev-tea.png);"></div>
                    <div class="podcast-title">
                        {{podcast.name}}
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>