.messages
  height: 100%

  header
    border-bottom: 1px solid #474747
    padding-bottom: 10px

  .message-list
    background-color: $grey-2
    box-sizing: border-box
    float: left
    height: 100%
    width: 30%

  .message
    background-color: white
    box-sizing: border-box
    float: left
    height: 100%
    padding: 15px
    width: 50%

  .message-container
    clear: both

  .send-message
    padding: 10px
    border: none
    border-bottom: solid 2px #c9c9c9
    transition: border 0.3s
    outline: none
    font-size: 16px

    &:focus
      border-bottom: solid 2px #969696

  .bubble
    display: inline-block
    color: #333
    position: relative
    max-width: 60%
    min-height: 20px
    padding: 0px
    background: #FFFFFF
    -webkit-border-radius: 10px
    -moz-border-radius: 10px
    border-radius: 10px
    padding: 10px

    &.sent
      background: #f0f0f0
      float: right

    &.received
      background: #fda383
