<nav>
	<ul>
		<li class="logo">
			<span class="hidden">Porios</span>
		</li>
		<li class="podcast">
			<span class="hidden">Podcasts</span>
		</li>
		<li class="friends">
			<span class="hidden">Friends</span>
		</li>
		<li class="favorites">
			<span class="hidden">Favorites</span>
		</li>
		<li class="feed">
			<span class="hidden">Feed</span>
		</li>
		<li class="settings">
			<span class="hidden">Settings</span>
		</li>
	</ul>
</nav>
