<nav>
	<ul>
		<li class="logo">
			<span class="hidden">Porios</span>
			<span class="the-p">P</span>
		</li>
		<li class="podcast">
			<span class="hidden">Podcasts</span>
			<i class="mdi mdi-radio-tower"></i>
		</li>
		<li class="friends">
			<span class="hidden">Friends</span>
			<i class="mdi mdi-account-multiple"></i>
		</li>
		<li class="favorites">
			<span class="hidden">Favorites</span>
			<i class="mdi mdi-heart"></i>
		</li>
		<li class="feed">
			<span class="hidden">Feed</span>
			<i class="mdi mdi-format-float-left"></i>
		</li>
		<li class="settings">
			<span class="hidden">Settings</span>
			<i class="mdi mdi-settings"></i>
		</li>
	</ul>
</nav>
