.main
    display inline-block
    font-size 0
    height 100vh
    overflow auto
    vertical-align top
    width calc(100% - 8vw)

    .aside
        display inline-block
        font-size $font-size-2
        vertical-align top
        width 32.6%

        .container
            padding 0 3.5%

    .article
        display inline-block
        font-size $font-size-2
        vertical-align top
        width 57.4%

        .container
            padding 0 3.5%