.picture-frame {
	background-color: $soft-grey;
	border-bottom: 10px solid $brand-blue;
	padding: 0 25px 50px;

	img {
		display: block;
		height:300px;
		margin: 0 auto;
		width:300px;
	}
}

.left-rail {
	box-sizing: border-box;
	float: left;
	width: 30%;
}

.right-rail {
  box-sizing: border-box;
	float: left;
	width: 70%;
	padding: 0 35px;
}

dt {
	color: #999;
	float: left;
	width: 20%;
}
