<div layout="column" layout-align="start center" layout-fill *ngIf="podcast">
  <div class="image">
    <div class="image-container">
      <img src="http://www.qdnow.com/sites/default/files/avataritunes/5/Grammar_pod2.jpg" />
    </div>
  </div>
  <div class="section details">
    <h2> {{ podcast.name }} </h2>
    <p> {{ podcast.description }} </p>
  </div>
  <div class="section related">
    <md-list>
      <md-list-item class="header">
        <h2 md-line>Similar Podcasts</h2>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item class="clickable">
        <img md-list-avatar src="http://www.qdnow.com/sites/default/files/avataritunes/5/Grammar_pod2.jpg" />
        <h4 md-line>Grammar Girl</h4>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item class="clickable">
        <img md-list-avatar src="http://www.qdnow.com/sites/default/files/avataritunes/5/Grammar_pod2.jpg" />
        <h4 md-line>Grammar Girl</h4>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item class="clickable">
        <img md-list-avatar src="http://www.qdnow.com/sites/default/files/avataritunes/5/Grammar_pod2.jpg" />
        <h4 md-line>Grammar Girl</h4>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item class="clickable">
        <img md-list-avatar src="http://www.qdnow.com/sites/default/files/avataritunes/5/Grammar_pod2.jpg" />
        <h4 md-line>Grammar Girl</h4>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item class="clickable">
        <img md-list-avatar src="http://www.qdnow.com/sites/default/files/avataritunes/5/Grammar_pod2.jpg" />
        <h4 md-line>Grammar Girl</h4>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item class="clickable">
        <img md-list-avatar src="http://www.qdnow.com/sites/default/files/avataritunes/5/Grammar_pod2.jpg" />
        <h4 md-line>Grammar Girl</h4>
      </md-list-item>
      <md-divider></md-divider>
    </md-list>
  </div>
</div>