$font-size-1 = 12px
$font-size-2 = 16px
$font-size-3 = 24px
$font-size-4 = 36px
$font-size-5 = 48px
$font-size-6 = 72px

$font-weight-1 = 200
$font-weight-2 = 300
$font-weight-3 = 400
$font-weight-4 = 500
$font-weight-5 = 600