html, body
    height 100%

body
    //font-family 'Bitter', serif
    font-family "Helvetica Neue", Helvetica, Calibri, Arial, sans-serif
    background $grey-5
    color $grey-1

.page
    font-size $font-size-2