.button {
	align: center;
	background-color: $soft-grey;
	color: white;
	cursor: pointer;
	font-size: 1.1em;
	min-width: 175px;
	padding: 15px 20px;
	text-transform: uppercase;

	&.brand {
		background-color: $brand-blue;
		color: $soft-grey;
	}
}

//Holds two buttons in an elegant fashion
.button-holder {
	padding: 0 35px;

	.button {
		float: right;
	}

	.button:first-of-type {
		float: left;
	}
	&:after {
		clear: both;
		content: '';
		display: table;
	}
}
