//Global helpers

.pad {
	padding: 10px;

	&-vert {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	&-horiz {
		padding-left: 10px;
		padding-right: 10px;
	}
}

.margin {
	margin: 10px;

	&-vert {
		margin-top: 10px;
		margin-bottom: 10px;
	}

	&-horiz {
		margin-left: 10px;
		margin-right: 10px;
	}
}
