.button
    background $grey-2
    border none
    box-shadow 0 0 0 rgba(#000, 0)
    color $grey-5
    cursor pointer
    padding 1em 2em
    text-transform uppercase

    porios-transition(box-shadow)

    &.primary
        background $brand-1
        color $grey-2

    &:hover
        box-shadow 0 0 5px rgba(#000, .33)

.button-pair
    width 100%

    .button
        width 47.5%

        &:first-child
            margin-right 5%

    &.large
        .button
            font-size $font-size-2