.flex
    display flex

    &.center-children
        align-items center
        justify-content center

.margin-top-small
    margin-top .5em

.margin-top
    margin-top 1em

.margin-top-large
    margin-top 2em