.sidebar
    background $brand-1
    display inline-block
    font-size $font-size-2
    height 100vh
    vertical-align top
    width 8vw

    .sidebar-item
        background transparent
        display block
        height 10vh

        &.large
            height 20vh

        &.static
            @extend .flex;
            @extend .flex.center-children;

        .sidebar-link
            @extend .flex;
            @extend .flex.center-children;

            height 100%
            width 100%
            cursor pointer

            porios-transition(background)

            .svg-icon path
                porios-transition(fill)

            &:hover, &.active
                background $grey-2

                .svg-icon path
                    fill $brand-1