$black-87-opacity: rgba(black, 0.87);
$white-87-opacity: rgba(white, 0.87);

$td-blue: (
  50: #e6eef6,
  100: #aec9e1,
  200: #86add2,
  300: #518abf,
  400: #417bb0,
  500: #396b9a,
  600: #315b84,
  700: #284c6d,
  800: #203c57,
  900: #182d41,
  A100: #e6eef6,
  A200: #aec9e1,
  A400: #417bb0,
  A700: #284c6d,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: white,
    A400: white,
    A700: white,
  )
);

$td-green: (
  50: #ffffff,
  100: #d6e4d3,
  200: #b6cfb0,
  300: #8db484,
  400: #7ba971,
  500: #6a9c5f,
  600: #5d8953,
  700: #507648,
  800: #43633c,
  900: #365031,
  A100: #ffffff,
  A200: #d6e4d3,
  A400: #7ba971,
  A700: #507648,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: white,
    A400: white,
    A700: white,
  )
);

$td-orange: (
  50: #ffffff,
  100: #f9e6d4,
  200: #f2caa2,
  300: #e9a664,
  400: #e69649,
  500: #e2872e,
  600: #d4781d,
  700: #b9691a,
  800: #9e5916,
  900: #834a12,
  A100: #ffffff,
  A200: #f9e6d4,
  A400: #e69649,
  A700: #b9691a,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: white,
    A400: white,
    A700: white,
  )
);

$td-red: (
  50: #ffffff,
  100: #fdefef,
  200: #f7bdbd,
  300: #ef7d7d,
  400: #eb6262,
  500: #e84747,
  600: #e52c2c,
  700: #d71b1b,
  800: #bc1717,
  900: #a11414,
  A100: #ffffff,
  A200: #fdefef,
  A400: #eb6262,
  A700: #d71b1b,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: white,
    A400: white,
    A700: white,
  )
);