@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);

body {
  font-family: 'Roboto', sans-serif;
}
.icon {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
}
.icon.large {
  height: 64px;
  width: 64px;
}
.margin-top-small {
  margin-top: 0.5em;
}
.margin-top {
  margin-top: 1em;
}
.margin-top-large {
  margin-top: 2em;
}
h1, h2, h3, h4, h5, h6 {
  margin: 5px 0;
  padding: 0;
}
h1 {
  font-size: 72px;
  font-weight: 400;
}
h2 {
  font-size: 36px;
  font-weight: 300;
}
h3 {
  font-size: 24px;
  font-weight: 300;
}
p {
  color: #888;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.2;
  margin: 1em 0;
}
ul {
  padding: 0;
}

.main {
  overflow: auto;
  vertical-align: top;
  box-sizing: border-box;
  /*background: #ecf0f1;*/
  position: relative;
  height: 100%;
  max-height: 100vh;
  transition: all 0.5s ease-in-out;
  background: url('/src/assets/img/bg1.png');
}

.open .main {
  max-height: 90vh;
}

i.fa {
  transition: 0.5s all ease-in-out;
}

i.fa.spin {
  transform: rotate3d(1,0,0,180deg);
}

#page-wrapper {
  flex: 1;
  height: 100vh;
}

.main .aside {
  display: inline-block;
  font-size: 16px;
  vertical-align: top;
  width: 32.6%;
}
.main .aside .container {
  padding: 0 3.5%;
}
.main .article {
  display: inline-block;
  font-size: 16px;
  vertical-align: top;
  width: 57.4%;
}
.main .article .container {
  padding: 0 3.5%;
}

sidebar > ul {
  padding: 0;
  margin-bottom: 0;
}

.branding {
  margin: 10px 10px;
  text-align: center;
  height: 160px;
  background: #ecf0f1;
}

.branding a {
  display: flex;
  flex-flow: row;
  align-items: flex-end;
  justify-content: center;
  transform: translateY(75%);
}

.branding a:hover {
  text-decoration: none;
}

.branding a .logo svg {
  height: 55px;
}

.branding a .logo svg g {
  fill: #07bafa;
}

.branding a .title {
  margin-left: -20px;
  color: #07bafa;
}

.sidebar {
  position: relative;
  background: #2c3e50;
  font-size: 16px;
  height: 100vh;
  vertical-align: top;
  width: 250px;
}
.sidebar .sidebar-item {
  background: transparent;
  display: block;
  height: 61px;
  margin: 5px 0;
  box-sizing: border-box;
}

.sidebar .sidebar-item:first-of-type {
  margin-top: 0;
}

.sidebar .sidebar-item .sidebar-link .svg-icon {
  transition: all 0.25s ease-in-out;
}

.sidebar .sidebar-item:nth-of-type(1) .sidebar-link .svg-icon {
  background: #95a5a6;
  margin-top: 0;
}

.sidebar .sidebar-item:nth-of-type(1) .sidebar-link:hover,
.sidebar .sidebar-item:nth-of-type(1) .sidebar-link.router-link-active {
  background: #95a5a6;
}

.sidebar .sidebar-item:nth-of-type(1) .sidebar-link:hover .svg-icon,
.sidebar .sidebar-item:nth-of-type(1) .sidebar-link.router-link-active .svg-icon {
  background: #7f8c8d;
}

.sidebar .sidebar-item:nth-of-type(2) .sidebar-link .svg-icon {
  background: #f39c12;
  margin-top: 0;
}

.sidebar .sidebar-item:nth-of-type(2) .sidebar-link:hover,
.sidebar .sidebar-item:nth-of-type(2) .sidebar-link.router-link-active {
  background: #f39c12;
}

.sidebar .sidebar-item:nth-of-type(2) .sidebar-link:hover .svg-icon,
.sidebar .sidebar-item:nth-of-type(2) .sidebar-link.router-link-active .svg-icon {
  background: #da8300;
}

.sidebar .sidebar-item:nth-of-type(3) .sidebar-link .svg-icon {
  background: #e74c3c;
}

.sidebar .sidebar-item:nth-of-type(3) .sidebar-link:hover,
.sidebar .sidebar-item:nth-of-type(3) .sidebar-link.router-link-active {
  background: #e74c3c;
}

.sidebar .sidebar-item:nth-of-type(3) .sidebar-link:hover .svg-icon,
.sidebar .sidebar-item:nth-of-type(3) .sidebar-link.router-link-active .svg-icon {
  background: #ce3323;
}

.sidebar .sidebar-item:nth-of-type(4) .sidebar-link .svg-icon {
  background: #3498db;
}

.sidebar .sidebar-item:nth-of-type(4) .sidebar-link:hover,
.sidebar .sidebar-item:nth-of-type(4) .sidebar-link.router-link-active {
  background: #3498db;
}

.sidebar .sidebar-item:nth-of-type(4) .sidebar-link:hover .svg-icon,
.sidebar .sidebar-item:nth-of-type(4) .sidebar-link.router-link-active .svg-icon {
  background: #1b7fc2;
}

.sidebar .sidebar-item:nth-of-type(5) .sidebar-link .svg-icon {
  background: #2ecc71;
}

.sidebar .sidebar-item:nth-of-type(5) .sidebar-link:hover,
.sidebar .sidebar-item:nth-of-type(5) .sidebar-link.router-link-active {
  background: #2ecc71;
}

.sidebar .sidebar-item:nth-of-type(5) .sidebar-link:hover .svg-icon,
.sidebar .sidebar-item:nth-of-type(5) .sidebar-link.router-link-active .svg-icon {
  background: #15b358;
}

.sidebar .sidebar-item:nth-of-type(6) .sidebar-link .svg-icon {
  background: #929e32;  
}

.sidebar .sidebar-item:nth-of-type(6) .sidebar-link:hover,
.sidebar .sidebar-item:nth-of-type(6) .sidebar-link.router-link-active {
  background: #929e32;
}

.sidebar .sidebar-item:nth-of-type(6) .sidebar-link:hover .svg-icon,
.sidebar .sidebar-item:nth-of-type(6) .sidebar-link.router-link-active .svg-icon {
  background: #798519;
}

.sidebar .sidebar-item:nth-of-type(7) .sidebar-link .svg-icon {
  background: #95a5a6;
}

.sidebar .sidebar-item:nth-of-type(7) .sidebar-link:hover,
.sidebar .sidebar-item:nth-of-type(7) .sidebar-link.router-link-active {
  background: #95a5a6;
}

.sidebar .sidebar-item:nth-of-type(7) .sidebar-link:hover .svg-icon,
.sidebar .sidebar-item:nth-of-type(7) .sidebar-link.router-link-active .svg-icon {
  background: #7c8c8d;
}

.sidebar .sidebar-item:nth-of-type(8) .sidebar-link .svg-icon {
  background: #9b59b6;
  margin-bottom: 0;
}

.sidebar .sidebar-item:nth-of-type(8) .sidebar-link:hover,
.sidebar .sidebar-item:nth-of-type(8) .sidebar-link.router-link-active {
  background: #9b59b6;
}

.sidebar .sidebar-item:nth-of-type(8) .sidebar-link:hover .svg-icon,
.sidebar .sidebar-item:nth-of-type(8) .sidebar-link.router-link-active .svg-icon {
  background: #82409d;
}

.sidebar .sidebar-item.large {
  height: 15vh;
}

.sidebar .sidebar-item .sidebar-link {
  height: 100%;
  width: 100%;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  transition-property: background;
  display: flex;
  flex-flow: row;
  align-items: center;
}

.sidebar .sidebar-item .sidebar-link .svg-icon {
  height: 41px;
  width: 41px;
  margin-right: 10px;
  margin-left: 10px;
  padding: 5px;
  box-sizing: border-box;
}

.sidebar .sidebar-item .sidebar-link .svg-icon path {
  transition: 0.3s ease-in-out;
  transition-property: fill;
  fill: #ecf0f1;
}
.sidebar .sidebar-item .sidebar-link:hover,
.sidebar .sidebar-item .sidebar-link.router-link-active {
  /*background: #2c3e50;*/
  text-decoration: none;
}
.sidebar .sidebar-item .sidebar-link:hover .svg-icon path,
.sidebar .sidebar-item .sidebar-link.router-link-active .svg-icon path {
  /* fill: #07bafa; */
}

.sidebar .sidebar-item .sidebar-link span {
  text-transform: uppercase;
  color: #ecf0f1;
  font-weight: 300;
}
.podcast-list {
  font-size: 16px;
}
.podcast-list ul {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  padding: 0;
}
.podcast-list ul li {
  display: block;
  overflow: hidden;
  position: relative;
  height: 120px;
  width: 120px;
  cursor: pointer;
  padding: 0;
  margin: 1px;
  margin-left: 0;
  margin-bottom: 0;
}
.podcast-list ul li.genre {
  background: rgba(210, 51, 20, 1);
  text-transform: capitalize;
  color: #ecf0f1;
  font-weight: 300;
  display: flex;
  flex-flow: column nowrap;
  padding: 5px;
  margin-left: 1px;
  cursor: default;
  .genre-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    font-size: 50px;
  }
  h2 {
    font-size: 18px;
    margin: 0;
  }
}
.podcast-list ul li .podcast-updates {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
  height: 30px;
  text-align: right;
  color: #ecf0f1;
  padding-top: 4px;
  padding-right: 4px;
  font-size: 12px;
  &:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
    height: 30px;
    border-right: 30px solid red;
    border-bottom: 30px solid transparent;
  }
}
.podcast-list ul li .podcast-background {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
.podcast-list ul li .podcast-title {
  background: rgba(0,0,0,0.5);
  box-shadow: 0 -2px 10px rgba(0,0,0,0.5);
  color: #ecf0f1;
  bottom: 0;
  left: 0;
  padding: 0.5em;
  position: absolute;
  transform: translateY(100%);
  transition: 0.3s ease-in-out transform;
  width: 100%;
}
.podcast-list ul li:hover .podcast-title {
  transform: translateY(0);
}
.porios {
  display: flex;
  flex-flow: row nowrap;
  height: 100vh
}
.message {
  width: 70%;
  flex: 1;
}
#messages {
  max-height: 90vh;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
}
#messages header {
  border-bottom: 1px solid #2c3e50;
  padding-bottom: 10px;
}
#messages .message-list {
  background-color: #ecf0f1;
  box-sizing: border-box;
  height: 100%;
  width: 30%;
}
.messages {
  padding: 0 5px;
}
chat-message {
  display: flex;
  height: 50px;
}
chat-thread:nth-of-type(n + 1) .conversation {
  background:  #e3a21a;
  color: #ecf0f1;
}
chat-thread:nth-of-type(n + 2) .conversation {
  background: #00aba9;
  color: #ecf0f1;
}
chat-thread:nth-of-type(n + 3) .conversation {
  background: #ee1111;
  color: #ecf0f1;
}
.msg-container-base .msg-container {
  display: flex;
  flex-flow: row wrap;
}
.msg-container-base .msg-container.base-sent {
  margin-right: auto;
}
.msg-container-base .msg-container.base-receive {
  margin-left: auto;
}
.msg-input {
  flex: 1;
  border: none;
  outline: none;
  padding: 0 5px;
}
.msg-send {
  height: 34px;
  display: flex;
  flex-flow: row wrap;
  box-sizing: border-box;
}
.msg-send-btn button {
  border-radius: 0;
  background: #2c3e50;
  border-color: #2c3e50;
  text-transform: uppercase;
  transition: all 0.25s ease-in-out;
}
.msg-send-btn button:hover {
  background: #07bafa;
  border-color: #07bafa;
  color: #2c3e50;
}
.avatar img {
  width: 50px;
  height: 50px;
}
.conversation-wrap {
  box-shadow: -2px 0 3px #ddd;
  padding: 0;
}
.conversation-wrap .conversation {
  position: relative;
  background: #ecf0f1;
  display: block;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
.conversation-wrap .conversation .avatar {
    display: inline-block;
    background: #bfbfbf;
    width: 50px;
    color: #ecf0f1;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    -webkit-transition: background 0.3s linear 0s;
    -moz-transition: background 0.3s linear 0s;
    -ms-transition: background 0.3s linear 0s;
    -o-transition: background 0.3s linear 0s;
    transition: background 0.3s linear 0s;
}
.conversation-wrap .conversation .avatar img {
  width: 50px;
  height: 50px;
}
.conversation-wrap .conversation:hover {
  cursor: hand;
  cursor: pointer;
  opacity: .8;
}
.conversation-wrap .conversation .div-link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-decoration: none;
  z-index: 10;
  background-color: white;
  opacity: 0;
  filter: alpha(opacity=0);
}
.conversation-wrap .conversation .message-body {
  display: inline-block;
  margin-left: 6px;
  vertical-align: top;
  line-height: 1;
}
.conversation-wrap::-webkit-scrollbar,
.msg-container-base::-webkit-scrollbar {
  width: 6px;
}
.conversation-wrap::-webkit-scrollbar-track,
.msg-container-base::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.conversation-wrap::-webkit-scrollbar-thumb,
.msg-container-base::-webkit-scrollbar-thumb {
  background: #ddd;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
.conversation-wrap::-webkit-scrollbar-thumb:window-inactive,
.msg-container-base::-webkit-scrollbar-thumb:window-inactive {
  background: #ddd;
}
.panel {
  height: 100%;
  overflow: hidden;
  margin: 0;
  position: relative;
}
#messages .panel-heading {
  height: 39px;
  background: #ee1111;
  color: #ecf0f1;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
}
.panel-body {
  overflow-y: scroll;
  left: 0;
  right: 0;
  top: 39px;
  bottom: 34px;
  position: absolute;
}
.panel-footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 34px;
  padding: 0;
  background: #ecf0f1;
}
.navbar-brand img {
  float: left;
  top: -10px;
  position: relative;
  margin-right: 10px;
}

.navbar-text {
  padding-right: 110px;
}

/* Media Player */

timeline {
  padding: 15px;
  display: flex;
  margin-left: auto;
}

.player { 
  height: 10vh;
}

.btn-play,
.btn-playlist {
  width: 8vw;
  background: #2c3e50;
  border: 0;
  border-radius: 0;
  height: 100%;
}

.btn-playlist {
  margin-left: auto;
}

.btn-play i,
.btn-playlist i {
  color: #ecf0f1;
}

.btn-play:focus,
.btn-play:active,
.btn-playlist:focus,
.btn-playlist:active {
  outline: none;
}

#audioplayer {
  display: flex;
  flex-flow: row wrap;
  height: 100%;
  background: #2c3e50;
  position: relative;
}

#audioplayer nag {
  position: absolute;
  top: -25px;
  left: calc(50% - 25px);
  width: 50px;
  height: 25px;
  text-align: center;
  background: #2c3e50;
  color: #ecf0f1;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  cursor: pointer;
  z-index: 20;
}

#timeSlider{
  position: relative;
  height: 8px;
  background-color: #cfcfcf;
  background-image: none;
  border: none;
  width: 307px;
  border-radius: 4px;
  cursor: pointer;
  align-self: center;
}

#sliderHandler{
  position: absolute;
  border-radius: 100px;
  background-image: none;
  background-color: #07bafa;
  transform: translateX(-7.5px);
  transform: translateY(-4px);
  width: 15px;
  height: 15px;
  box-sizing: border-box;
}

#playlistSidebar {
  z-index: 10;
  position: absolute;
  top: 0;
  right: 0;
  height: 90vh;
  width: 283px;
  background: #ecf0f1;
  transform: translateX(283px); 
  transition: transform 0.5s ease-in-out;
  box-shadow: 0 0 10px 0 #2c3e50;
}

#playlistSidebar.active {
  transform: translateX(0);
}

#playlistSidebar ul {
  padding-left: 0;
}

#playlistSidebar ul li {
  position: relative;
  background: #ecf0f1;
  display: block;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

#playlistSidebar ul li:last-of-type {
  border-bottom: none;
}

#playlistSidebar ul li:hover {
  background: #e74c3c;
}

#playlistSidebar ul li:hover .content h3,
#playlistSidebar ul li:hover .content .preview,
#playlistSidebar ul li:hover .content .meta {
  color: #ecf0f1;
}

#playlistSidebar ul li .thumbnail {
  display: inline-block;
  background: #bfbfbf;
  width: 50px;
  color: #7f8c8d;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  transition: background 0.3s linear 0s;
  margin: 0;
  border-radius: 0;
}

#playlistSidebar ul li .content {
  display: inline-block;
  margin-left: 6px;
  vertical-align: top;
  line-height: 1;
}

#playlistSidebar ul li .content h3 {
  display: block;
  width: 100%;
  margin-bottom: 5px;
  color: #808080;
  margin-top: 0;
}

#playlistSidebar ul li .content .preview {
  display: block;
  width: 100%;
  max-width: 200px;
  margin-bottom: 5px;
  color: #cccccc;
  font-size: 12px;
}

#playlistSidebar ul li .content .meta {
  color: #b3b3b3;
  font-size: 12px;
}

/* End Media Player */

/* Account Components */

/* Login Form */

#loginForm {
  position: absolute;
  top: 50%;
  width: 400px;
  height: 200px;
  left: 50%;
  transform: translate(-50%, -50%);
}

#loginForm .form-control {
  outline: none;
  border: none;
  box-shadow: none;
  border-bottom: 1px solid #2c3e50;
  border-radius: 0;
  padding-left: 0;
  background: transparent;
}

#loginForm .submitArea .btn {
  background: transparent;
  border: 2px solid #2c3e50;
  color: #2c3e50;
  float: right;
  transition: all 0.25s ease-in-out;
}

#loginForm .submitArea .btn:hover {
  background: #2c3e50;
  color: #ecf0f1;
}

/* End Login Form */

/* End Account Components */